@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #10E7DC;
  }

/*------Titles for every section-----*/

#title {
  color:white;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
}
/* --------------------------------- */

/*--------Experience Section--------*/
#experiences {
  /* background-color: #6CDAEE; */
  padding-right : 1.5rem;
  padding-left : 1.5rem;
  padding-bottom : 3rem;
  padding-top : 3rem;
}
#experience_card {
    box-shadow: 0 4px 8px 0 #0074E1;
    transition: 0.3s;
    margin: 0.5rem;
    background-color: #59d8ee;
    font-family: 'Inconsolata', monospace;
}

#experience_card:hover{
    box-shadow: 0 8px 16px 0  #1B9CE5;

}

#card_title{
  font-weight: 900;
  font-size: 1.3rem;
  text-shadow: 0.1rem 0.1rem #1B9CE5;
  color: white;
}

#card_stats{
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  text-shadow: 0.1rem 0.1rem #1B9CE5;
  
}

#card_info{
  color: white;
  font-size: 1.0rem;
  text-shadow: 0.1rem 0.1rem #1B8CE5;
}

#readButton {
    margin: 1.5%;
    cursor: pointer;
    background-color:#F79E02;
    color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
  }
  
#readButton:hover {
  background-color:#f77802;
}

#readButton:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.1s;
}

#readButton:focus {
    outline:0;
}

/* --------------------------------- */


/*---------Contact Section----------*/
#contact-icon {
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  fill: white;
  width: 2.5rem;
  height : 2.5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#contact-icon:hover {
    fill:#F79E02;
  }

/* --------------------------------- */


#projects{
  padding-right : 1.5rem;
  padding-left : 1.5rem;
  padding-bottom : 3rem;
  padding-top : 3rem;
}


#project_div{
  background-color:#F79E02;
}

#experience_div{
  background-color: #10E7DC;
}

#home_div{
  background-color: #10E7DC;
}

#contact_div{
  background:pink;
}

#contact_info{
  font-family: 'Inconsolata', monospace;
  padding-top : 3rem;
}

#watermark{
  padding-left: 3rem;
  padding-right: 3rem;
}

#nav_bar{
  background-color: rgb(141, 147, 238);
}

#nav_brand{
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
  color: white;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  font-weight: 900;
  font-size: 1.2rem;
}
#nav_item{
  margin-right: 1rem;
  color: white;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  font-size: 1.2rem;
}

#nav_item:hover, #nav_brand:hover{
  color: rgb(162, 247, 247);
}


#home_about_text{
  padding: 2rem;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.06rem;
  background-color: #59d8ee;
  box-shadow: 0 4px 8px 0 #0074E1;
  color: white;
  text-shadow: 0.1rem 0.1rem #1B9CE5;
}

#typewriter{
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  letter-spacing: 0.01rem;
  text-shadow: 0.1rem 0.1rem #1B9CE5;
  color: white;
}


#contact_buttons{
  margin: 2rem;
}

#button{
  cursor: pointer;
  background-color:#f891b9;
  color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  border: 0;
}

#button:hover {
  background-color:#f34b8b;
}

#button:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.1s;
}

#button:focus {
    outline:0;
}


#main_image{
  width: 100%;
  height:100%;
  margin: 1rem;
}

#project_card{
  margin: 0.5rem;
  font-family: 'Inconsolata', monospace;
  padding: 2rem;
}

#project_image{
  height: 80%;
  width: 80%;
}

#project_title{
  font-weight: 900;
}
